@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-madera: #A96E4F;
  --color-hueso: #F7F5E6;
  --color-terracota: #D8734B;
  --color-verde: #5C804A;
  --color-cafecito: #38220F;
}

body {
  color: var(--color-cafecito);
  background: var(--color-hueso);
}
